{% if media is defined %}

<link rel="stylesheet" href="{{ asset('bundles/yarshamediamanager/css/cropper.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/yarshamediamanager/css/cropper-main.css') }}">
<style>
    .image_container img{
        height: 500px;
        width: auto;
    }
</style>

<div class="col-md-12">
    <div class="image_container">
        <img id="blah" src="{{ media.url }}" alt="{{ media.altName }}" />
    </div>
    <button id="crop_button"
            class="btn btn-primary">Crop</button>
</div>

<script src="{{ asset('bundles/yarshamediamanager/js/cropper.js') }}"></script>
<script>
    initCropper();

    function initCropper(){
        var image = document.getElementById('blah');
        var cropper = new Cropper(image, {
            aspectRatio: 1 / 1,
            crop: function(e) {
                console.log(e.detail.x);
                console.log(e.detail.y);
            }
        });

        // On crop button clicked
        document.getElementById('crop_button').addEventListener('click', function(){
             cropper.getCroppedCanvas().toBlob(function (blob) {
                var formData = new FormData();
                formData.append('croppedImage', blob);
                var url = "{{ path('yarsha_media_manager_ajax_render_image_crop', {'id':'MEDIA_ID'}) }}";
                url = url.replace('MEDIA_ID','{{ media.id }}');
                $.ajax({
                    url: url,
                     method: "POST",
                     data: formData,
                     processData: false,
                     contentType: false,
                     success: function (data) {
                         var filetype = $('#filetypeFilter').val();
                         var date = $('#filterTypeDate').val();
                         var searchText = $('#mediaSearchText').val();
                         var url = document.URL;
                         renderMedia(url);
                         $.notify('Media cropped.', 'success');
                         $('#mediaModal').modal('toggle');
                         window.location.href = '';
                     },
                     error: function () {
                         console.log('Upload error');
                     }
                });
             });
        });
    }
</script>
{% else %}

    <div class="col-md-12">
        <h4>Media not found.</h4>
    </div>

{% endif %}