<script>
    //On media modal display modal
    $('#mediaModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        var title = button.data('title');
        var id = button.data('id');
        var url = "{{ path('yarsha_media_manager_media_detail', {'id':'MEDIA_ID'}) }}";
        url = url.replace('MEDIA_ID', id);
        modal.find('.modal-title').html('<h4 class="modal-title">'+title+'</h4>');
        $.ajax({
            url: url,
            method:'GET',
            success:function(data){
                if(data.success){
                    modal.find('.modal-body').html(data.template);
                }   else    {
                    modal.find('.modal-body').html('<h4 class="modal-title">Something went wrong.</h4>');
                }
            }
        });
    });

    function updateMedia(e, obj){
        e.preventDefault();
        var id = $(obj).data('id');
        var formData = $(obj).serialize();
        var url = "{{ path('yarsha_media_manager_ajax_media_update', {'id':'MEDIA_ID'}) }}";
        url = url.replace('MEDIA_ID', id);
        $(obj).find("input[type='submit']").attr('disabled',true);
        $.ajax({
            url: url,
            method: 'POST',
            data: formData,
            success: function(data){
                $(obj).find("input[type='submit']").attr('disabled',false);
                if(data.success){
                    $.notify(data.message, 'success')
                }   else    {
                    $.notify(data.message, 'error')
                }
            }
        }).always(function(){
            $('#filetypeFilter').trigger('change');
        });
    }

    function deleteMedia(e, id){
        e.preventDefault();
        var url = "{{ path('yarsha_media_manager_ajax_media_delete', {'id':'MEDIA_ID'}) }}";
        url = url.replace('MEDIA_ID', id);
        bootbox.confirm({
            size:'small',
            message:'Media will be permanently deleted. Are you sure ?',
            callback:function(result){
                if(result){
                    $.ajax({
                        url:url,
                        method:'GET',
                        success:function(data){
                            if(data.success){
                                $.notify(data.message, 'success')
                            }   else    {
                                $.notify(data.message, 'error')
                            }
                        }
                    }).always(function(){
                        $('#filetypeFilter').trigger('change');
                    });
                }
            }
        });
    }

    $('#filetypeFilter').on('change', function(){
        var filetype = $(this).val();
        var date = $('#filterTypeDate').val();
        var searchText = $('#mediaSearchText').val();
        var url = "{{ path('yarsha_media_manager_render_media', {'filetype':'FILETYPE','date':'DATE','name':'NAME', 'mode': app.request.get('mode')}) }}";
        url = url.replace('FILETYPE', filetype);
        url = url.replace('DATE', date);
        url = url.replace('NAME', searchText);
        url = url.replace(/&amp;/g, '&&');
        renderMedia(url);
    });

    $('#filterTypeDate').on('change', function(){
        var filetype = $('#filetypeFilter').val();
        var date = $(this).val();
        var searchText = $('#mediaSearchText').val();
        var url = "{{ path('yarsha_media_manager_render_media', {'date':'DATE', 'filetype':'FILETYPE','name':'NAME', 'mode': app.request.get('mode')}) }}";
        url = url.replace('DATE', date);
        url = url.replace('FILETYPE', filetype);
        url = url.replace('NAME', searchText);
        url = url.replace(/&amp;/g, '&&');
        renderMedia(url);
    });

    function renderMedia(url = ''){
        if(url.length <= 0){
            var url = "{{ path('yarsha_media_manager_render_media', {'mode':app.request.get('mode')}) }}";
        }
        $.ajax({
            url:url,
            success:function(data){
                if(data.template){
                    $('#mediaList').html(data.template);
                }
            }
        });
    }

    // Js for add and edit gallery modal
    $('.add-gallery, .edit-gallery').on('click', function(e){
        e.preventDefault();
        var btn = $(this),
            id = btn.data('id'), title = btn.data('title');
        if(id == null || isNaN(id)){
            var url = "{{ path('yarsha_media_manager_ajax_gallery_add_render') }}";
        }   else    {
            var url = "{{ path('yarsha_media_manager_ajax_gallery_edit_render', {'id':'GALLERY_ID'}) }}";
            url = url.replace('GALLERY_ID', id);
        }

        var modal = $("#medialibrary");
        $.ajax({
            url:url,
            method: 'GET',
            success: function(data){
                console.log('got it....00');
                modal.find('.modal-title').html(title);
                if(data.success){
                    modal.find('.modal-body').html(data.template);
                }   else    {
                    modal.find('.moda-body').html("<h4 class='title'>"+data.message+"</h4>");
                }
                modal.modal('toggle');
            }
        });
    });

    var noMediaDiv = $('<div class="alert no-media-div">No Media To List.</div>');
    $(document).ready(function () {

        //INITIALIZE IMAGE PICKER
        $(".image-select").imagepicker({
            hide_select: true,
            show_label: false
        });

        update(0);

        //MEDIA GALLERY TAB BUTTON CLICK
        $('.mediagalleryclick').click(function (){
            $('.image-detail-modal select').html('');
            $('#filterimage').val('');
            refresh();
            update(0);
        });


        //IMAGE INFORMATION UPDATE
        $('form#image-details input[type="text"], form#image-details textarea').on('blur', function () {
            var val = $(this).val(),
                name = $(this).attr('name');
            id = $('#img-id').val();

            url = "{{ path('yarsha_media_manager_edit_images_detail',{'id':'ID'}) }}";
            url = url.replace('ID',id);

            if(val!='' && name!=''){

                $.ajax({
                    type: 'get',
                    url: url,
                    data: {'name':name,'value':val},
                    success: function (res) {
                        return true;
                    }
                });

            }

        });


        $('#filterimage').on('blur',function () {

            var value = $(this).val();

            refresh();
            filterdata(value);

        });



        //delete image
        $('#btnDeleteImage').off('click').click(function () {
            var id = $('#img-id').val();
            bootbox.confirm({
                size:'small',
                message:'Media will be permanently deleted. Are you sure ?',
                callback:function(result){
                    if(result){
                        var url  = "{{ path('yarsha_media_manager_ajax_media_delete',{'id':'ID'}) }}";
                        url = url.replace('ID',id);
                        $.ajax({
                            url: url,
                            type: 'get',
                            success: function (response) {
                                var res = response;
                                if (res.success && res.success == true) {
                                    update(0);
                                    refresh();
                                } else {
                                    alert(res.message);
                                }
                            },
                            error: function () {
                                alert("The image is used in other places. The image cannot be deleted.");
                            }
                        });
                    }
                }
            });
        });

    });

    function update(offset) {
        if (offset === undefined) {
            offset = 0;
        }
        $('div').find('.no-media-div').remove();

        var url = "{{ path('yarsha_media_manager_ajax_media_images') }}";

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            success: function (response) {

                console.log('media manager',response);

                $('.image-detail-modal select').html('');
                if (response.media.length) {
                    $('.image-detail-modal.modalLeft').show();

                    $(response.media).each(function (i, v) {
                        $('.image-detail-modal select').append('<option class= "image-responsive" ' +
                            'data-alttext="'+v.alttext+'" ' +
                            'data-for-ckeditor="' + v.url + ' " ' +
                            'value="' + v.id + '" ' +
                            'data-img-src="' + v.thumbnailUrl + ' " ' +
                            'value="' + v.id + '" ></option>');
                    });

                } else {
                    $('div').find('.no-media-div').remove();
                    $('.image-detail-modal.modalLeft').hide();
                    $('#media-content').hide();
                    noMediaDiv.appendTo('.image-detail-modal.image-list');
                }

                $(".image-picker").imagepicker();

                $('.image-detail-modal select').find('option:first-child').attr('selected', 'selected');
                $('ul.thumbnails').find('li:first-child .image_picker_image').trigger('click');
                $('ul.thumbnails').find('li:first-child').find('.thumbnail').addClass('selected');

                selectedImageDetail();

                $('.image-picker').imagepicker({
                    clicked: function () {
                        selectedImageDetail();
                    }
                });


            },
            error: function () {
                console.log("Could not save image detail");
            }
        });
    }

    function selectedImageDetail() {
        var count = 1;
        $('.image-select').find('option:selected').each(function (index, item) {
            if (count == 1) {
                var id = $(item).val();
            }
            count++;

            if (id !== undefined) {

                var url = "{{ path('yarsha_media_manager_images_detail', {'id':'ID'}) }}";
                var url = url.replace('ID', id);


                jQuery.ajax({
                    url: url,
                    type: 'GET',
                    data:{'id':id},
                    success: function (result) {
                        console.log(result);
                        var obj = result.media;
                        $('#filename-image-thumb').html('<img src="' + obj.thumbnailUrl + '" />');
                        $('#filename-html').html(obj.image);
                        $('#uploaded-html').html(obj.created);
                        $('#url').val(obj.url);
                        $('#img-id').val(obj.id);
                        $('#title').val(obj.title);
                        $('#caption').val(obj.caption);
                        $('#alttext').val(obj.alttext);
                        $('#desc-img').val(obj.description);
                        $('.image-detail-modal.modalLeft').show();

                    },
                    error: function (e) {
                        console.log('error');
                    }
                });
            }

        });
    }

    function refresh() {
        $('#media-content').show();
        $('.image-detail-modal.modalLeft').hide();
        $('#filename-html').html('');
        $('#uploaded-html').html('');
        $('#url').val('');
        $('#img-id').val('');
        $('#title').val('');
        $('#caption').val('');
        $('#alttext').val('');
        $('#desc-img').val('');
    }

    function addMediaImageOnPreview() {
        $('.mediagalleryclick').trigger('click');
    }

    function filterdata(val) {

        $('div').find('.no-media-div').remove();
        var url = "{{ path('yarsha_media_manager_ajax_media_images') }}";

        $.ajax({
            url: url,
            type: 'get',
            dataType: 'json',
            data:{'value':val},
            success: function (response) {
                $('.image-detail-modal select').html('');
                if (response.media.length) {
                    $('.image-detail-modal.modalLeft').show();

                    $(response.media).each(function (i, v) {
                        $('.image-detail-modal select').append('<option class= "image-responsive" ' +
                            'data-for-ckeditor="' + v.url + ' " ' +
                            'data-alttext="'+v.alttext+'" ' +
                            'value="' + v.id + '" ' +
                            'data-img-src="' + v.thumbnailUrl + ' " ' +
                            'value="' + v.id + '" ></option>');
                    });

                } else {
                    $('div').find('.no-media-div').remove();
                    $('.image-detail-modal.modalLeft').hide();
                    $('#media-content').hide();
                    noMediaDiv.appendTo('.image-detail-modal.image-list');
                }

                $(".image-picker").imagepicker();

                $('.image-detail-modal select').find('option:first-child').attr('selected', 'selected');
                $('ul.thumbnails').find('li:first-child .image_picker_image').trigger('click');
                $('ul.thumbnails').find('li:first-child').find('.thumbnail').addClass('selected');

                selectedImageDetail();

                $('.image-picker').imagepicker({
                    clicked: function () {
                        selectedImageDetail();
                    }
                });
            },
            error: function () {
                console.log("Could not save image detail");
            }
        });

    }

</script>