{% macro renderMediaInputWithImage(media, checked = false, class="") %}
    {% if 'image' in media.filetype %}
    <li class="{{ class }}">
        <input type="checkbox" id="yarsha_mediamanagerbundle_gallery_medias_{{ media.id }}"
               name="yarsha_mediamanagerbundle_gallery[medias][]"
               value="{{ media.id }}"
                {% if checked %} checked = "checked" {% endif %}
               type="checkbox"/>
        <label for="yarsha_mediamanagerbundle_gallery_medias_{{ media.id }}" class="checkbox-image">
            <img src="{{ media.thumbnailUrl }}" />
        </label>
    </li>
    {% endif %}
{% endmacro %}