{% extends '@YarshaMediaManager/media_layout.html.twig' %}

{% block content %}
    {{ render_media_filter_bar() }}
    <div id="mediaList">
        {% include '@YarshaMediaManager/media/mediaListTmpl.html.twig' %}
        <div class="clearfix"></div>
        {% if medias.haveToPaginate %}
            <div class="col-md-12">
                {{ pagerfanta(medias, 'twitter_bootstrap3') }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function(){
           $('#mediaList').on('mouseover', '.ys-media-item', function(e){
               $('#mediaList').find('.ys-media-action').hide();
               $(this).find('.ys-media-action').show();
           });
        });
    </script>
{% endblock %}