{% extends '@YarshaMediaManager/media_layout.html.twig' %}

{% block content %}

    <div class="row">

        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}

        <div class="col-md-12">
            {{ form_row(form.postName) }}
        </div>
        <div class="col-md-12">
            {{ form_label(form.description) }}
            <a href="" data-textarea="yarsha_post_description" class="btn btn-info btn-sm addmedia" id="addmedia" data-target="#medialibrary" data-toggle="modal">Add Media</a>
            {{ form_widget(form.description) }}
        </div>
        <input type="submit" class="btn btn-primary" value="Post">
        {{ form_end(form) }}
    </div>

    {% include('@YarshaMediaManager/post-inside-mediaModal.html.twig') %}

{% endblock %}