{% extends '@YarshaMediaManager/media_layout.html.twig' %}

{% block content %}

     <div class="row">
        <div class="panel panel-default">
            <div class="panel-body media-toolbar">
                <h3>Post&nbsp;&nbsp;
                    <a href="{{ path('yarsha_post_add') }}" class="btn btn-primary">Add New Post</a>
                </h3>
            </div>
            </div>
     </div>

    <div class="row">
        {% if(posts|length > 0) %}
        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
           <tr>
               <th>S.N</th>
               <th>Post Name</th>
               <th>Action</th>
           </tr>
            </thead>

            <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ post.postName }}</td>
                <td>
                    <a href="{{ path('yarsha_post_edit',{'id':post.id}) }}"
                       class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{{ path('yarsha_media_manager_post_delete', {'id':post.id}) }}"
                       class="btn btn-danger delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            {% else %}
                <h4 class="title">No post found.</h4>
        {% endif %}

    </div>
{% endblock %}

