{% extends '@YarshaMediaManager/media_layout.html.twig' %}
{% import '@YarshaMediaManager/macros/mediaMacro.html.twig' as mediaMacro %}

{% block content %}
    <div class="row">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <div class="form-group">
            <label class="control-label required">Medias</label>
                <ul id="yarsha_mediamanagerbundle_gallery_medias" style="list-style: none;">
                    {% for media in form.vars.value.medias %}
                    {% endfor %}
                    {% for media in medias %}
                        {% if media in form.vars.value.medias %}
                            {{ mediaMacro.renderMediaInputWithImage(media, 'true') }}
                        {% else %}
                            {{ mediaMacro.renderMediaInputWithImage(media) }}
                        {% endif %}
                    {% endfor %}
                </ul>
        {% do form.medias.setRendered %}
        <input type="submit" value="{% if isUpdating is defined and isUpdating == true %}Update {% else %}Add{% endif %}" class="btn btn-primary">
        {{ form_end(form) }}
    </div>
{% endblock %}